<div style="width: 100%">
	<div id="category_left" class="categorylist">
		<%= link_to 'Product','/product_list',:class =>'category-link'%>	
		<%= link_to 'Currencies', currencies_path, :class =>'category-link' %>
		
	</div>
</div>
